*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica neue', sans-serif;
}
.surprise{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 255, 255, 0);
    z-index: 25;
    cursor:auto;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 35rem;
    width:20rem;
    background-color: black;
    border: 1rem solid black;
    border-radius: 3rem;
}
.buttons{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}   
.function{
    background-color: #a5a5a5;
}
.operator{
    background-color: #f1a33c;
    color:white;
}
.num{
    background-color: #333;
    color:white;
}



.btn{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.btn:hover{
    opacity: 0.5;
}

.display{
    text-align: end;
    height:10rem ;
}
.pre-display, .current-display{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 2rem;
    padding:1rem ;
    color: white;
    overflow: hidden;
}
.zero{
    width: auto;
    border-radius: 3rem;
    grid-column: 1 / span 2;

}